* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.header-and-title {
  background-color: #1f2937;
  flex: 1;
}

.info {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  padding-bottom: 80px;
}

h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
}

.images {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 80px;

}

.pair {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 0 1 auto;
}

img {
  height: 100px;
  weidth: 100px;
  flex: 0 1 auto;
}


.subtext {}


.testimonial {
  background-color: #e5e7eB;
  flex: 1;
  display: flex;
  padding: 50px 320px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.quote {
  font-style: italic;
  font-size: 36px;
  font-weight: extra-light;
  color: #1F2937;
  width: 50hv;
}

.source {
  align-self: flex-end;
  font-weight: bold;
}


.newsletter {
  background-color: white;
  flex: 1;
}

.footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  font-size: 12px;
}